<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phone</title>
</head>
<body>
  <h1>PHONE</h1>
  <div>
    NAME: <%= phoneName%><br>
    Price: <%= phonePrice %><br>
  </div>
</body>
</html>