<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>: <%= cnt%></p>

    <p>
      <a href="/chat/">CHAT</a> | 
      <a href="/cookie">COOKIE</a> | 
      <a href="/upload">UPLOAD</a> | 
    </p>
  </body>
</html>
